@import './variables';

.btn-primary {
    background-color: $secondary-cyan;
    color: $white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: darken($secondary-cyan, 10%);
    }
}
